<!DOCTYPE html>
<html lang="en" class="theme-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bulma.min.css" />
    <title>AI POKEMON TRAINER</title>
</head>
<body>
    <div class="container">
        <h1 class="title mt-6">AI POKEMON TRAINER</h1>
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img width="160" id="game-screen" src="" alt="Game screen">
                </figure>
            </div>
            <div class="column">
                <div class="buttons">
                    <button class="button is-success" onmousedown="pressKey('up')" onmouseup="releaseKey('up')">Up</button>
                    <button class="button is-success" onmousedown="pressKey('left')" onmouseup="releaseKey('left')">Left</button>
                    <button class="button is-success" onmousedown="pressKey('right')" onmouseup="releaseKey('right')">Right</button>
                    <button class="button is-success" onmousedown="pressKey('down')" onmouseup="releaseKey('down')">Down</button>
                    <button class="button is-success" onmousedown="pressKey('a')" onmouseup="releaseKey('a')">A</button>
                    <button class="button is-success" onmousedown="pressKey('b')" onmouseup="releaseKey('b')">B</button>
                    <button class="button is-warning" onclick="saveProgress()">Save</button>
                    <button class="button is-warning" onclick="loadProgress()">Load</button>
                </div>
                <div class="notification is-danger">
                    <strong>Status</strong><br>
                    <p id="status_msg">There not Status now.</p>
                </div>
                <div class="notification is-link">
                    <strong>Action</strong><br>
                    <p id="action_msg">There not Action now.</p>
                </div>
                <div class="notification is-warning">
                    <strong>Reason</strong><br>
                    <p id="reason_msg">There not Reason now.</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        let status_msg = document.getElementById("status_msg");
        let action_msg = document.getElementById("action_msg");
        let reason_msg = document.getElementById("reason_msg");
        let game_screen = document.getElementById('game-screen');

        let mainurl = "ws://"+window.location.hostname+":18080";

        const keyMap = {
            ArrowUp: 'up',
            ArrowDown: 'down',
            ArrowLeft: 'left',
            ArrowRight: 'right',
            KeyA: 'a',
            KeyB: 'b',
            Enter: 'start',
            Shift: 'select',
        };

        const activeKeys = new Set();

        const ws_press = new WebSocket(`${mainurl}/press`);
        function pressKey(key) {
            if (!activeKeys.has(key)) {
                activeKeys.add(key);
                ws_press.send(key);
            }
        }

        const ws_release = new WebSocket(`${mainurl}/release`);
        function releaseKey(key) {
            if (activeKeys.has(key)) {
                activeKeys.delete(key);
                ws_release.send(key);
            }
        }

        const ws_save_load = new WebSocket(`${mainurl}/save_load`);
        function saveProgress() {
            ws_save_load.send("save");
        }
        function loadProgress() {
            ws_save_load.send("load");
        }
        ws_save_load.onmessage = function(event) {
            alert(event.data)
        };

        // Keyboard event listeners
        document.addEventListener('keydown', (event) => {
            const key = keyMap[event.code];
            if (key) {
                pressKey(key);
            }
        });

        document.addEventListener('keyup', (event) => {
            const key = keyMap[event.code];
            if (key) {
                releaseKey(key);
            }
        });

        const ws_screen = new WebSocket(`${mainurl}/screen`);
        ws_screen.onmessage = function(event) {
            game_screen.src = event.data;
        };

        const ws_run_data = new WebSocket(`${mainurl}/get_run_data`);
        ws_run_data.onmessage = function(event) {
            var jsonResponse = JSON.parse(event.data);
            status_msg.innerText = jsonResponse["status_msg"];
            action_msg.innerText = jsonResponse["action_msg"];
            reason_msg.innerText = jsonResponse["reason_msg"];
        };
    </script>
</body>
</html>